@import "colors.css";
* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrainsMono Nerd Font Propo";
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px
}

window#waybar {
    background-color: transparent;
    color: @source_color;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.6;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: @source_color;
}
*/
/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -3px @source_color;
}

#workspaces button {
    padding: 0 5px;
    background-color: @surface;
    color: @source_color;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}

#workspaces button.focused {
    background-color: #64727D;
    box-shadow: inset 0 -3px @source_color;
}

#workspaces button.urgent {
    background-color: @error;
}
#clock,
#network,
#pulseaudio,
#tray {
    background-color: @surface;
}
#window {
    background-color: @surface;
    padding: 0 10px;
}
#workspaces {
    background-color: @surface;
}

#clock {
    background-color: @surface;
    padding: 0 10px;
}

#network {
    background-color: @surface;
    padding: 0 10px;
}
#pulseaudio {
    background-color: @surface;
    color: @source_color;
    padding: 0 10px;
}

#pulseaudio.muted {
    background-color: @surface;
    color: #FF0000;
}
#tray {
    background-color: @surface;
    padding: 0 10px;
}
#custom-notification {
    background-color: @surface;
    padding: 0px 10px
}

